services:
  redis:
    image: "redis:alpine"

  fastapi:
    build: .

    ports:
      - "8010:8010"

    environment:
      REDIS_HOST: "redis"

    depends_on:
      - redis

    develop:
      # Create a `watch` configuration to update the app
      #
      watch:
        # Sync the working directory with the `/app` directory in the container
        - action: sync
          path: .
          target: /app
          # Exclude the project virtual environment
          ignore:
            - .venv/

        # Rebuild the image on changes to the `pyproject.toml`
        - action: rebuild
          path: ./pyproject.toml
